:root {
    font-size: calc(0.5em + 1vw);
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    height: 100vh;
}